<center>
  <header>
    <%= render 'layouts/header' %>
    <p>
      <h3><%= @user.name %></h3>
    </p>
  </header>
  <nav>
    <%= link_to "Your Wardrobe", current_user%>
    <a href="/outfit">Your Outfits</a>
    <a href="/like">Your Likes</a>
  </nav>
  <wrapper>
    <div class="wardrobe">
      <div class="shirt" id="wardrobe_shirt">
      </div>
      <div class="pant" id="wardrobe_pant">
      </div>
      <div class="shoe" id="wardrobe_shoe">
      </div>
    </div>
  </wrapper>
</center>