<center>
<div class="user-trips">
<%= render 'layouts/header' %>

<p id="notice"><%= notice %></p>

<p>
  <h1><%= image_tag current_user.image %><br><%= @user.name %>
   </h1>
</p>
<br>
<h4>Your Wardrobe</h4>
<br><br>
   </div>
</center>
