<center>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <wrapper>
    <div class="likes">
      <div class="like" id="type">
      </div>
      <div class="like" id="type">
      </div>
      <div class="like" id="type">
      </div>
      <div class="like" id="type">
      </div>
      <div class="like" id="type">
      </div>
    </div>
  </wrapper>
</center>