<footer>
  <div class="left">
    <a href="#">BLOG</a><br>
    <a href="#">FAQS</a><br>
    <a href="#">PRESS & MEDIA</a>
  </div>
  <div class="center">
    <a href="#">ABOUT US</a><br>
    <a href="#">CAREERS</a><br>
    <a href="#">CONTACT</a><br>
  </div>
  <div class="right">
    <%= image_tag "curateanalytics.png", width: "100"%><br>
    <a href="#">Terms & Privacy Policy</a><br>
    © Canary Connect, Inc. 2014
  </div>
</footer>