<footer>
  <div class="left">
    <a href="#">BLOG</a><br>
    <a href="#">FAQS</a><br>
    <a href="#">PRESS & MEDIA</a>
  </div>
  <div class="center">
     <%= link_to "ABOUT US", about_path%><br>
    <a href="#">CAREERS</a><br>
    <a href="#">CONTACT</a><br>
  </div>
  <div class="right">
    <a href="#">Terms & Privacy Policy</a><br>
    © Curate Analytics, Inc. 2015
  </div>
</footer>