<nav>
  <!-- icon -->
  <a href="#"><%= image_tag "curateanalytics.png", width: "200"%></a>
  <!-- about -->
  <%=link_to "About", about_path%>
  <!-- signin -->
  <% if !current_user %>
      <a href="/auth/facebook"><%= image_tag "facebook.png", width: "200"%></a>
    <% else %>
      <p><%= link_to "Welcome back, #{current_user.name.split(" ")[0]}!", current_user %></p>
    <%end%>
</nav>