<nav>
  <!-- icon -->
  <a href="#"><%= image_tag "curateanalytics.png", width: "200"%></a>
  <!-- about -->
  <%=link_to "About", about_path%>
  <!-- signin -->
  <%=link_to "Signin", signin_path%>
</nav>