
<center>
  <div id="index-cover" class="index-cover">
    <h1>Please Signin</h1>
      <% if !current_user %>
        <a href="/auth/facebook"><%= image_tag "facebook.png", width: "200"%></a>
      <% else %>
        <p>
          <%= link_to "Welcome back, #{current_user.name.split(" ")[0]}!", wardrobe_index_path %>
        </p>
      <% end %>
  </div>
</center>


