<center>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <wrapper>
    <div class="wardrobe">
      <div class="shirt" id="wardrobe_shirt">
      </div>
      <div class="pant" id="wardrobe_pant">
      </div>
      <div class="shoe" id="wardrobe_shoe">
      </div>
    </div>
  </wrapper>
</center>